.media-gallery-modal{
  font-family: 'Heebo' !important;
  .modal-content{
    background-color:var(--bg-secondary);
    color:var(--text-body-secondary) ;
    font-family: 'Heebo';
    font-weight: 500;
    border-radius: 0.85rem;
  }
  .modal-header{
    border-bottom: none;
    padding: 0px;
  }
  .modal-header button{
    background-color: var(--bg-primary) !important;
    color: var(--text-color-dark)!important;
    font-size: 12px;
    padding: 2px 6px;
  }
  .modal-body{

      padding: 0rem;

    .gallery-popup-img{
      height: 250px;
      width: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
    .gallery-popup-video{
      height: 250px;
      width: 250px
    }
    .copy-utl-btn{
      background: none;
      color:blue;
    }
    p{
      width: -webkit-fill-available;
      font-family: 'Heebo';
      font-weight: 300;
    }
    .table th, .table td{
      max-width: 230px;
      font-size: 14px;
    }
    .table th{
      font-family: 'Heebo';
    }
    .table td{
        font-family: 'Heebo';
        font-weight: 300;
      .btn{
        border-radius: 0.5rem;
        font-size: 0.875rem;
      }
    }

  }
  .modal-footer{
    border-top:none;
  }
  .table{
    color:var(--text-body-secondary)
  }
  .table-responsive{
    margin:0px;
    overflow-y: auto ;
    color:var(--text-body-secondary)
  }
  thead, tbody, tr, td, th{
    border-bottom: 1px solid var(--color-border) !important;
  }
}
#selectProductMedia .modal-dialog {
  max-width: 800px;
  img{
    width: 140px;
    height: 140px;
    padding-right: 15px;
  }
  .pop-up-gallery{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
.media-gallery-modal .modal-dialog {
  max-width: 580px;
}

.modal-body .warning-icon .fa-fw{
 width: 50px;
 height: 50px;
}

.modal-body .warning-icon{
  background: #dc3545;
    /* border: 3px solid; */
    border-radius: 50%;
    padding: 18px;
    display: inline-flex;
    justify-content: center;
    position: absolute;
    top: -42px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}
