.login-page{
    .login-wrapper{
        background-color: var(--bg-primary);
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        height: 100%;
        min-height: 100vh;
        h1{
            font-size: 75px;
        font-weight: 800;
        text-align: center;
        line-height: 1;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #fdb900;
        text-shadow: 3px 3px 4px rgb(116, 115, 115);
        }
        .top-level{
            font-size: 25px;
        }
        p{
            font-size: 20px;
            padding-right:3.6rem;
        }
        .login-img{
            bottom: 0px;
            right: -80px;
            img{
                width: 500px;
            }
        }

    }
    .login-slot{
        padding: 0px 50px;
        .form-control, .input-group-text{
            border:0px solid var(--bg-secondary);
            // background-color: #fff !important;
            .fa-fw{
                height: 20px;
            }
        }
        .form-check-input{
            border-color: var(--bg-primary);
        }
        .tab-content{
            padding: 20px;
        }
        .nav-pills .nav-link{
            &:hover,&:focus{
                box-shadow: none !important;
            }
            position: relative;
            transition: all 0.3s ease-in-out;
            font-weight: bold;
            text-transform: uppercase;
        }
        .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
            background-color: transparent;
            color: var(--primary);
            border-bottom: none;
            border-radius: 0px;
        }

        .nav-pills .nav-link.active:before, .nav-pills .nav-link.active:hover:before {
            background-color: var(--bg-primary);
            box-shadow: 0px 0px 10px 2px rgba(66,181,225,0.65);
            -webkit-box-shadow: 0px 0px 10px 2px rgba(66,181,225,0.65);
            -moz-box-shadow: 0px 0px 10px 2px rgba(66,181,225,0.65);
        }

        .nav-pills .nav-link:before, .nav-pills .nav-link:after {
            content: '';
            background-color: #ccccd0;
            height: 3px;
            width: 0;
            position: absolute;
            left: 0;
            bottom: -3px;
            transition: all 0.3s ease 0s;
            width: 100%;
            border-radius: 16px;
        }



        .nav-pills .nav-link.active:after, .nav-pills .nav-link.active:hover:after {
            opacity: 0;
            transform: translateX(-50%) scale(1);
        }
        .nav-pills .nav-link:after {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            transform: translateX(-50%) scale(0);
            transform-origin: bottom center;
            left: 50%;
            bottom: 0;
        }

        .separator {
            display: flex;
            align-items: center;
            text-align: center;
          }

          .separator::before,
          .separator::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid var(--bg-secondary);
          }

          .separator:not(:empty)::before {
            margin-right: .25em;
          }

          .separator:not(:empty)::after {
            margin-left: .25em;
          }

          .btn-labeled{
              font-size: 12px !important;
              border-radius: 5px !important;

          }


    }
    .btn{
        font-weight: bold;
    }
    .error-pos{
        width: 100%;
        right: 0;
        z-index: 99999;
        top: -22px;
    }
    @media only screen and (max-width: 1200px) {
        .tab-content{
            .btn-div{
                flex-direction: column !important;
                text-align: center;
                .google{
                    margin-bottom: 20px;
                    margin-right: 0px !important;
                }
            }
        }
    }

    @media only screen and (max-width: 992px) {
        .login-wrapper{
        h1{
            font-size: 50px;
        }
        .login-img{
            bottom: 0px;
            img{
                width: 350px;
            }
        }


    }
    .login-slot {
        padding: 20px 20px;
        .tab-content{
            padding: 0px;
        }

    }


    }


    @media only screen and (max-width: 767px) {
        &.row{
            flex-direction: column-reverse !important;
        }
        .login-wrapper{
            height: auto !important;
        h1{
            font-size: 50px;
        }
        .login-img{
            position: initial !important;
            bottom: 0px;
            right: 0px;
            img{
                width: 350px;
            }
        }

    }

    .tab-content{
        .btn-div{
            flex-direction: column !important;
            .google{
                margin-bottom: 0px;
                margin-right: 0px !important;
            }
        }
    }
    }
}
.custom-icon {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 5;
}
